@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black: #010101;
$grey: #F3F2F0;
$red: #D40000;
$white: #FFFFFF;

$font-inter: 'Inter', sans-serif;

$r_laptop_1440: 1440px;
$r_tab_900: 900px;
$r_tab_768: 768px;
$r_tab_650: 650px;
$r_mob_500: 500px;
$r_mob_430: 430px;
$r_mob_390: 390px;
$r_mob_360: 360px;
$r_mob_340: 340px;

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-size: 2.8rem;
    font-family: $font-inter;
    color: $black;
    max-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left:   15px;
    padding-right: 15px;
    @media (max-width: $r_mob_390) {
        padding-left:  10px;
        padding-right: 10px;
    }
}

header {
    background-color: $grey;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding-top: 4.1rem;
    padding-bottom: 5rem;
    @media (max-width: $r_tab_768) {
        position: initial;
    }
    @media (max-width: $r_mob_500) {
        padding-bottom: 3rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    @media (max-width: $r_tab_768) {
        align-items: initial;
    }
    &__navigation {
        @media (max-width: $r_tab_768) {
            display: none;
        }
    }
    &__nav {
        display: flex;
        gap: 2.5rem;
        list-style-type: none;
        padding-left: 0;
        @media (max-width: $r_tab_900) {
            gap: 1.5rem;
        }
    }
    a {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
        }
    }
    &__tel {
        padding-right: 1rem;
    }
    &__mail {
        border-left: 1px solid rgba($black, .2);
        padding-left: 1rem;
        @media (max-width: $r_tab_768) {
            display: none;
        }
    }
    &-button {
        display: none;
        margin-top: -0.45rem;
        @media (max-width: $r_tab_768) {
            display: block;
        }
    }
}

.main {
    background-color: $grey;
    padding-bottom: 13.1rem;
    @media (max-width: $r_mob_500) {
        padding-bottom: 6.5rem;
    }
    &__img {
        width: 100%;
        margin-top: 13rem;
        margin-bottom: 9rem;
        @media (max-width: $r_tab_768) {
            height: 310px;
            object-fit: cover;
            margin-top: 0;
        }
        @media (max-width: $r_mob_500) {
            margin-bottom: 4rem;
        }
        @media (max-width: $r_mob_430) {
            height: 215px;
        }
    }
    &__name {
        font-size: 2.8rem;
        position: relative;
        z-index: 1;
        @media (max-width: $r_mob_500) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.8rem;
        }
        &::before {
            content: '';
            width: 253px;
            height: 253px;
            display: block;
            background-color: $white;
            border-radius: 150px;
            position: absolute;
            top: -59px;
            left: -130px;
            z-index: -1;
            @media (max-width: $r_mob_500) {
                width: 200px;
                height: 200px;
                border-radius: 140px;
                top: -47px;
                left: -95px;
            }
            @media (max-width: $r_mob_430) {
                width: 135px;
                height: 135px;
                border-radius: 140px;
                top: -29px;
                left: -54px;
            }
        }
    }
    &__title {
        font-size: 7.4rem;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 3.7rem;
        margin-bottom: 10.6rem;
        position: relative;
        z-index: 1;
        @media (max-width: $r_tab_900) {
            font-size: 6.4rem;
        }
        @media (max-width: $r_tab_768) {
            font-size: 5.4rem;
        }
        @media (max-width: $r_tab_650) {
            font-size: 4.4rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 3.4rem;
            margin-bottom: 15rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 2.8rem;
            margin-top: 2.1rem;
            margin-bottom: 10.3rem;
        }
        @media (max-width: $r_mob_340) {
            font-size: 2.5rem;
        }
        &::before {
            content: '';
            border: 37px solid transparent;
            border-bottom: 75px solid $red;
            position: absolute;
            top: -130px;
            left: -152px;
            @media (max-width: $r_laptop_1440) {
                top: 50px;
                left: 0;
            }
            @media (max-width: $r_tab_900) {
                border: 32px solid transparent;
                border-bottom: 71px solid #D40000;
            }
            @media (max-width: $r_tab_768) {
                border: 25px solid transparent;
                border-bottom: 57px solid #D40000;
            }
            @media (max-width: $r_mob_500) {
                border: 22px solid transparent;
                border-bottom: 49px solid #D40000;
                left: -4px;
            }
            @media (max-width: $r_mob_430) {
                border: 16px solid transparent;
                border-bottom: 35px solid #D40000;
                top: 35px;
                left: -1px;
            }
        }
    }
    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-btn {
        font-size: 1.6rem;
        font-weight: 700;
        color: $black;
        background-color: $grey;
        cursor: pointer;
        padding: 0;
        display: flex;
        gap: 1.6rem;
        align-items: center;
        border: transparent;
        padding-bottom: 1rem;
        transition: .3s;
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.3rem;
        }
        @media (max-width: $r_mob_390) {
            font-size: 1.2rem;
            gap: 1rem;
            padding-bottom: 0.5rem;
        }
        @media (max-width: $r_mob_340) {
            gap: 0.5rem;
        }
        &::after {
            content: '';
            display: block;
            background-image: url(../images/arrow.svg);
            width: 16px;
            height: 12px;
            background-size: cover;
            background-repeat: no-repeat;
            @media (max-width: $r_mob_430) {
                width: 13px;
                height: 10px;
            }
            @media (max-width: $r_mob_360) {
                width: 14px;
            }
        }
        &:hover {
            color: $black;
            border-bottom: 2px solid $black;
            @media (max-width: $r_mob_390) {
                border-bottom: 1px solid $black;
            }
        }
        &:active {
            outline: none;
        }
        &__header {
            background-image: url(../images/btn.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 26px;
            height: 29px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &::after {
                display: none;
            }
            &:hover {
                border-bottom: none;
            }
        }
        &_rate {
            font-weight: 700;
            font-size: 1.6rem;
            border: none;
            background-color: inherit;
            display: flex;
            gap: 1.4rem;
            align-items: center;
            padding-left: 0;
            padding-bottom: 0.7rem;
            cursor: pointer;
            transition: .3s;
            @media (max-width: $r_mob_500) {
                font-size: 1.4rem;
            }
            @media (max-width: $r_mob_430) {
                font-size: 1.3rem;
            }
            @media (max-width: $r_mob_360) {
                font-size: 1.2rem;
                gap: 1rem;
                padding-bottom: 0.5rem;
            }
            @media (max-width: $r_mob_360) {
                font-size: 1rem;
            }
            &::after {
                content: '';
                display: block;
                background-image: url(../images/arrow.svg);
                width: 15px;
                height: 11px;
                background-size: cover;
                background-repeat: no-repeat;
                @media (max-width: $r_mob_430) {
                    width: 13px;
                    height: 9px;;
                }
            }
            &:hover {
                border-bottom: 1.5px solid $black;
            }
            }
    }
    &__social {
        display: flex;
        gap: 3rem;
        margin-top: -1.3rem;
        @media (max-width: $r_mob_500) {
            gap: 1.5rem;
        }
        @media (max-width: $r_mob_430) {
            gap: 1rem;
        }
        @media (max-width: $r_mob_360) {
            margin-top: -0.7rem;
        }
        @media (max-width: $r_mob_340) {
            gap: 0.5rem;
        }
    }
    &__link {
        font-size: 1.6rem;
        color: $black;
        text-decoration: none;
        border-left: 1px solid rgba($black, .2);
        padding-left: 2.5rem;
        transition: .3s;
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
            padding-left: 1.5rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.3rem;
            padding-left: 1rem;
        }
        @media (max-width: $r_mob_390) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_340) {
            padding-left: 0.5rem;
        }
        &_vk {
            border: none;
            position: relative;
            z-index: 0;
            &::after {
                content: "";
                width: 106px;
                height: 106px;
                background-color: $white;
                border-radius: 150px;
                position: absolute;
                top: -43px;
                right: -211px;
                z-index: -1;
                @media (max-width: $r_tab_768) {
                    width: 90px;
                    height: 90px;
                    top: -35px;
                    right: -206px;
                }
                @media (max-width: $r_mob_500) {
                    width: 70px;
                    height: 70px;
                    top: -28px;
                    right: -151px;
                }
                @media (max-width: $r_mob_500) {
                    width: 60px;
                    height: 60px;
                    top: -24px;
                    right: -122px;
                }
            }
        }
        &_inst {
            z-index: 0;
        }
        &_linkedin {
            z-index: 0;
        }
        &:hover {
            color: $red;
        }
    }
    &-skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        border-top: 1px solid $black;
        padding-top: 4.7rem;
        margin-top: 4.9rem; 
        @media (max-width: $r_tab_768) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $r_mob_500) {
            padding-top: 4rem;
            margin-top: 4.1rem;
        }
        @media (max-width: $r_mob_360) {
            padding-top: 2.9rem;           
            margin-top: 3.1rem;
        }
        &__title {
            font-size: 1.6rem;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            @media (max-width: $r_mob_500) {
                font-size: 1.4rem;
            }
            @media (max-width: $r_mob_360) {
                font-size: 1.2rem;
            }
            &_advantage {
                letter-spacing: initial;
                text-transform: initial;
                margin-bottom: 2.2rem;
            }
        }
        &__text {
            font-size: 1.4rem;
            color: rgba($black, .8);
            line-height: 150%;
            margin-top: 2.1rem;
            @media (max-width: $r_mob_500) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_mob_360) {
                font-size: 1rem;
                margin-top: 2rem;
                margin-bottom: 0;
            }
        }
    }
}

.about {
    background-color: $grey;
    padding-bottom: 16.4rem;
    @media (max-width: $r_mob_500) {
        padding-bottom: 8rem;
    }
    @media (max-width: $r_mob_360) {
        padding-bottom: 5.6rem;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 3.2rem;
        @media (max-width: $r_tab_768) {
            display: block;
        }
        @media (max-width: $r_mob_500) {
            font-size: 2rem;
            margin-bottom: 4rem;
        }
    }
    &__title {
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @media (max-width: $r_tab_768) {
            margin: 0;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
        }
    }
    &__text {
        color: rgba($black, .8);
        max-width: 561px;
        line-height: 150%;
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
            margin-top: 2.5rem;
        }
    }
    &__advantage {
        display: grid;
        grid-template-columns: 227px 270px;
        justify-content: end;
        row-gap: 3.5rem;
        column-gap: 6.3rem;
        border-top: 1px solid $black;
        padding-top: 4.7rem;
        @media (max-width: $r_tab_768) {
            grid-template-columns: repeat(2, 1fr);
            justify-content: initial;
            column-gap: 2.3rem;
        }
        @media (max-width: $r_mob_500) {
            padding-top: 4rem;
        }
        @media (max-width: $r_mob_360) {
            row-gap: 0;
            column-gap: 2.3rem;
            padding-top: 3rem;
        }
    }
}

.steps {
    background-color: $grey;
    padding-bottom: 9.5rem;
    @media (max-width: $r_mob_500) {
        padding-bottom: 0;
    }
    &__grid-line {
        position: relative;
        grid-column: span 2;
        width: 100%;
        height: 0.5px;
        background-color: $black;
        &_none {
            display: none;
            @media (max-width: $r_mob_500) {
                display: block;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.4rem;
        align-items: center;
        @media (max-width: $r_tab_900) {
            gap: 2.4rem;
        }
        @media (max-width: $r_mob_360) {
            column-gap: 1.3rem;
            row-gap: 1.1rem;  
        }
    }
    &__title {
        font-weight: 400;
        font-size: 2.8rem;
        margin: 0;
        @media (max-width: $r_tab_900) {
            font-size: 2rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.8rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
        }
        &::before {
            content: '01';
            margin-right: 4rem;
            @media (max-width: $r_tab_900) {
                margin-right: 2rem;
            }
            @media (max-width: $r_mob_360) {
                margin-right: 1.1rem;
            }
        }
    }
    &__title_02 {
        &::before {
            content: '02';
        }
    }
    &__title_03 {
        &::before {
            content: '03';
        }
    }
    &__description {
        font-size: 1.6rem;
        color: rgba($black, .8);
        line-height: 150%;
        margin: 0;
        @media (max-width: $r_tab_900) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.2rem;
        }
    }
}

.gradient-box {
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E6E6), to(rgba(231, 230, 230, 0)));
    background: -o-linear-gradient(top, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
    background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
}

.portfolio {
    &__title {
        font-size: 7.4rem;
        text-transform: uppercase;
        padding-top: 8.8rem;
        padding-bottom: 14.5rem;
        margin: 0;
        position: relative;
        z-index: 0;
        @media (max-width: $r_mob_500) {
            font-size: 4rem;
            padding-top: 9rem;
            padding-bottom: 7rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 2.8rem;
            padding-top: 8.7rem;
        }
        &::after {
            content: "";
            width: 465px;
            height: 465px;
            background-color: $white;
            border-radius: 255px;
            position: absolute;
            top: -5px;
            left: 346px;
            z-index: -1;
            @media (max-width: $r_mob_500) {
                width: 250px;
                height: 250px;
                border-radius: 245px;
                top: 35px;
                left: 205px;
            }
            @media (max-width: $r_mob_360) {
                width: 197px;
                height: 197px;
                top: 51px;
                left: 143px;
            }
        }
        &-box {
            background-color: $grey;
        }
    }
    &__grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 6rem;
        margin-top: 7rem;
        z-index: 0;
        @media (max-width: $r_tab_900) {
            align-items: center;
        }
        @media (max-width: $r_tab_768) {
            display: block;
        }
        @media (max-width: $r_mob_360) {
            margin-top: 4.3rem;
        }
    }
    &__name {
        margin-top: 4rem;
        @media (max-width: $r_mob_500) {
            font-size: 2.2rem;
            margin-bottom: 0;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
        }
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        font-size: 1.6rem;
        line-height: 207%;
        color: rgba($black, .8);
        margin: 41px 0;
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
            margin: 30px 0;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.2rem;
            line-height: 223%;
            margin: 19px 0;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 1.6rem;
        color: rgba($black, .8);
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.2rem;
        }
    }
    &__image {
        margin-top: -1rem;
        @media (max-width: $r_tab_900) {
            justify-self: end;
        }
    }
    &__img {
        @media (max-width: $r_tab_900) {
            width: 56vw;
        }
        @media (max-width: $r_tab_768) {
            width: 93vw;
            margin: 4rem 0;
        }
    }
}

.benefit {
    &__other {
        line-height: 150%;
        max-width: 900px;
        margin: 0;
        padding-top: 18rem;
        padding-bottom: 7.8rem;
        @media (max-width: $r_mob_500) {
            font-size: 2rem;
            padding-top: 10rem;
            padding-bottom: 6rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
            padding-top: 7.5rem;
            padding-bottom: 4rem;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4rem;
        column-gap: 2rem;
        border-top: 1px solid $black;
        padding-top: 5.4rem;
        padding-bottom: 16.6rem;
        @media (max-width: $r_tab_900) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $r_tab_768) {
            padding-bottom: 12.6rem;
        }
        @media (max-width: $r_mob_500) {
            grid-template-columns: 1fr;
            row-gap: 3rem;
            padding-top: 5rem;
            padding-bottom: 8rem;
        }
        @media (max-width: $r_mob_360) {
            row-gap: 0rem;
            padding-top: 2rem;
            padding-bottom: 4.5rem;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 4rem;
        @media (max-width: $r_tab_650) {
            gap: 2rem;
        }
        @media (max-width: $r_mob_500) {
            gap: 4rem;
        }
    }
    &__img {
        margin-top: 1.4rem;
        @media (max-width: $r_mob_360) {
            width: 30px;
            height: 30px;
        }
    }
    &__content {
        max-width: 250px;
        @media (max-width: $r_mob_500) {
            max-width: initial;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 1.6rem;  
        margin-bottom: 0; 
        @media (max-width: $r_mob_360) {
            font-size: 1.2rem;
        }
    }
    &__text {
        font-size: 1.4rem;
        line-height: 150%;
        color: rgba($black, .8);
        margin-top: 1rem;
        @media (max-width: $r_mob_360) {
            font-size: 1.2rem;
            margin-top: 1.5rem;
        }
    }
}

.tool {
    padding-bottom: 31.2rem;
    @media (max-width: $r_tab_900) {
        padding-bottom: 18.2rem;
    }
    @media (max-width: $r_tab_768) {
        padding-bottom: 15rem;
    }
    @media (max-width: $r_mob_500) {
        padding-bottom: 12rem;
    }
    @media (max-width: $r_mob_360) {
        padding-bottom: 7.6rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 89%);
        @media (max-width: $r_tab_900) {
            grid-template-rows: repeat(2, 13vw);
        }
    }
    &__item {
        position: relative;
        border: 1px solid rgba($black, .3);
        cursor: pointer;
        &:hover {
            .tool__img {
                filter: grayscale(0);
                opacity: 1;
            }
            .tool__tooltip {
                visibility: visible;
                transform: scale(1);
            }
        }
    }
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__img {
        width: 27%;
        filter: grayscale(1);
        opacity: 0.3;
        transition: .3s;
        &_php {
            width: 37%;
        }
    }
    &__tooltip {
        position: absolute;
        background-color: #E31B1B;
        z-index: 1;
        visibility: hidden;
        padding: 3.5rem 1.5rem 2.7rem 1.5rem;
        margin: -1.5rem 2rem;
        transition: .3s ease-out;
        transform: scale(0);
        @media (max-width: $r_tab_768) {
            display: none;
        }
        &::after {
            content: "";
            border: 10px solid rgba(0,0,0,0);
            border-bottom: 10px solid #E31B1B;
            position: absolute;
            top: -18px;
            left: 50%;
            transform: translate(-50%);       
        }
    }
    &__title {
        font-size: 1rem;
        font-weight: 500;
        color: rgba($white, 0.8);
        text-align: center;
        margin: 0 0 2rem 0;
    }
    &__description {
        font-size: 1rem;
        font-weight: 500;
        color: rgba($white, 0.8);
        text-align: center;
        margin: 0;
    }
}

.rate {
    padding-bottom: 18rem;
    @media (max-width: $r_mob_500) {
        padding-bottom: 12rem;
    }
    @media (max-width: $r_mob_360) {
        padding-bottom: 7.5rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 6rem;
        @media (max-width: $r_mob_500) {
            column-gap: 5rem;
        }
        @media (max-width: $r_mob_390) {
            gap: 3rem;
        }
        @media (max-width: $r_mob_360) {
            row-gap: 3rem;
            column-gap: 0;
        }
    }
    &__item {
        &_span {
            @media (max-width: $r_tab_768) {
                position: relative;
                grid-column: span 2;
                margin: -2rem 0 -4rem 0;
            }
        }
        &_padding360 {
            @media (max-width: $r_mob_360) {
                padding-right: 2rem;
            }
        }
    }
    &__title {
        position: relative;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        z-index: 0;
        @media (max-width: $r_mob_500) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.8rem;
        }
        @media (max-width: $r_mob_390) {
            margin-bottom: 1.8rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
        }
        &::before {
            content: "";
            width: 140px;
            height: 140px;
            background-color: $white;
            border-radius: 150px;
            position: absolute;
            top: -55px;
            left: -68px;
            z-index: -1;
            @media (max-width: $r_mob_500) {
                border-radius: 142px;
                top: -57px;
                left: -65px;
            }
            @media (max-width: $r_mob_430) {
                left: -78px;
            }
            @media (max-width: $r_mob_360) {
                top: -60px;
                left: -88px;
            }
        }
    }
    &__text {
        line-height: 150%;
        color: rgba($black, .8);
        margin: -0.5rem 0 2rem 0;
        @media (max-width: $r_mob_500) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.8rem;
        }
        @media (max-width: $r_mob_390) {
            margin-bottom: 3.8rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
        }
    }
    &__name {
        font-weight: 400;
        line-height: 150%;
        margin: 0;
        @media (max-width: $r_mob_500) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 2rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
            margin-top: 1rem;
        }
    }
    &__description {
        font-weight: 500;
        font-size: 1.6rem;
        color: rgba($black, .8);
        margin-top: 2.3rem;
        margin-bottom: 8.1rem;
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
            margin-top: 3rem;
            margin-bottom: 4rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.3rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1rem;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
    }
    &__in {
        font-weight: 700;
        font-size: 1.6rem;
        margin-top: 0.3rem;
        margin-bottom: 2.2rem;
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.3rem;
        }
        @media (max-width: $r_mob_360) {
            margin-top: 1rem;
        }
    }
    &__list {
        font-size: 1.6rem;
        line-height: 200%;
        color: rgba($black, .8);
        padding-left: 15px;
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 1.3rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.2rem;
            padding-left: 5px;
        }
    }
    &__price {
        font-weight: 700;
        font-size: 4.2rem;  
        margin: 5.5rem 0 0 0;  
        @media (max-width: $r_mob_500) {
            font-size: 3rem;
        }
        @media (max-width: $r_mob_430) {
            font-size: 2.5rem;
            margin: 4rem 0 0 0;
        }
        @media (max-width: $r_mob_360) {
            font-size: 2.2rem;
            margin: 3rem 0 0 0;
        }
        &_circle {
            position: relative;
            z-index: 0;
            &::before {
                content: '';
                width: 90px;
                height: 90px;
                display: block;
                background-color: $white;
                border-radius: 150px;
                position: absolute;
                top: -21px;
                left: -46px;
                z-index: -1;
                @media (max-width: $r_mob_500) {
                    width: 60px;
                    height: 60px;
                    border-radius: 145px;
                    left: -33px;
                }
                @media (max-width: $r_mob_360) {
                    width: 40px;
                    height: 40px;
                    border-radius: 130px;
                    top: -1rem;
                    left: -19px;
                }
            }
        }
    }
}

.feedback {
    padding-bottom: 5.2rem;
    @media (max-width: $r_mob_500) {
        padding-bottom: 5rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 6rem;
        column-gap: 2rem;
        border-bottom: 1px solid #000;
        padding-bottom: 13rem;
        @media (max-width: $r_tab_900) {
            display: flex;
            flex-direction: column;
        }
        @media (max-width: $r_mob_500) {
            row-gap: 4rem;
            padding-bottom: 9rem;
        }
        @media (max-width: $r_mob_390) {
            row-gap: 2rem;
        }
        @media (max-width: $r_mob_360) {
            padding-bottom: 6rem;
        }
    }
    &__title {
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        max-width: 300px;
        margin: 0;
        position: relative;
        z-index: 0;
        @media (max-width: $r_mob_500) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_390) {
            font-size: 1.6rem;
            max-width: 250px;
        }
        &::before {
            content: '';
            width:300px;
            height: 300px;
            display: block;
            background-color: $white;
            border-radius: 150px;
            position: absolute;
            top: -29px;
            left: -153px;
            z-index: -1;
            @media (max-width: $r_tab_900) {
                top: -93px;
                left: -60px;
            }
            @media (max-width: $r_mob_500) {
                width:250px;
                height: 250px;
                border-radius: 146px;
                top: -76px;
                left: -52px;
            }
            @media (max-width: $r_mob_390) {
                width: 190px;
                height: 190px;
                border-radius: 120px;
                top: -61px;
                left: -54px;
            }
        }
        &::after {
            content: '';
            border: 33px solid transparent;
            border-bottom: 75px solid $red;
            position: absolute;
            top: -13px;
            left: -177px;
            @media (max-width: $r_laptop_1440) {
                top: 100px;
                left: 96px;
            }
            @media (max-width: $r_tab_900) {
                top: -136px;
                left: 174px;
                border: 32px solid transparent;
                border-bottom: 71px solid #D40000;
            }
            @media (max-width: $r_tab_768) {
                top: -116px;
                border: 25px solid transparent;
                border-bottom: 57px solid #D40000;
            }
            @media (max-width: $r_mob_500) {
                top: -97px;
                left: 143px;
                border: 21px solid transparent;
                border-bottom: 47px solid #D40000;
            }
            @media (max-width: $r_mob_390) {
                top: -68px;
                left: 98px;
                border: 16px solid transparent;
                border-bottom: 34px solid #D40000;
            }
        }
    }
    &__text {
        position: relative;
        line-height: 150%;
        @media (max-width: $r_mob_500) {
            font-size: 2.2rem;
        }
    }
    &__description {
        line-height: 150%;
        margin: 0;
        @media (max-width: $r_mob_390) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob_360) {
            margin-bottom: 1rem;
        }
    }
    &__grid-line {
        position: relative;
        grid-column: span 2;
        width: 100%;
        height: 0.5px;
        background-color: $black;
    }
    &__social {
        display: flex;
        gap: 3rem;
        align-items: flex-end;
        @media (max-width: $r_tab_900) {
            order: 1;
            margin: 0 auto;
        }
        @media (max-width: $r_mob_500) {
            gap: 1.5rem;
            margin: 3rem auto 0;
        }
        @media (max-width: $r_mob_360) {
            gap: 1rem;
            margin: 4.5rem auto 0;
        }
        &_modal {
            gap: 1rem;
            justify-content: center;
            padding-bottom: 4rem;
        }
    }
    &__link {
        font-size: 1.6rem;
        color: $black;
        text-decoration: none;
        border-left: 1px solid rgba($black, .2);
        padding-left: 2.5rem;
        transition: .3s;
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
            padding-left: 1.5rem;
        }
        @media (max-width: $r_mob_390) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_360) {
            padding-left: 1rem;
        }
        &_vk {
            border: none;
            padding: 0;
        }
        &_modal{
            font-size: 1.2rem;
            padding-left: 1rem;
        }
        &:hover {
            color: $red;
        }
    }
    &__contact {
        @media (max-width: $r_mob_500) {
            margin-top: 2rem;
        }
    }
    &__form {
        position: relative;
        max-width: 558px;
        margin: 0 auto;
    }
    &__label {
        display: block;
        font-size: 1.2rem;
        color: rgba($black, .8);
        @media (max-width: $r_mob_390) {
            font-size: 1rem;
        }
    }
    &__input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.2rem;
        color: rgba($black, .2);
        border: none;
        background-color: rgba($black, .05);
        padding: 2.5rem 0 2.5rem 2rem;
        margin-top: 1.3rem;
        margin-bottom: 2.2rem;
        @media (max-width: $r_mob_390) {
            font-size: 1rem;
            padding: 2rem 0 2rem 2rem;
        }
        @media (max-width: $r_mob_360) {
            margin-bottom: 1.9rem;
        }
        &:focus {
            outline: none;
            color: $black;
        }
    }
    &__button {
        font-weight: 700;
        font-size: 1.6rem;
        color: $white;
        border: none;
        background-color: $red;
        padding: 2.3rem 0;
        width: 100%;
        margin-top: 4.2rem;
        @media (max-width: $r_mob_430) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_390) {
            font-size: 1.2rem;
            padding: 2rem 0;
            margin-top: 3rem;
        }
        &:hover {
            background-color: #EA0E00;
            cursor: pointer;
        }
    }
}

.dropdown {
    input[type="checkbox"] {
        display: none;
        &:checked {
            ~.dropdown-items {
                opacity: 1;
                max-height: 400px;
                padding: .6rem 0;
            }
            ~.dropdown__text {       
                z-index:99;
                &::after{transform: rotate(180deg);}
            }
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: end;
        box-sizing: border-box;
        font-size: 1.2rem;
        cursor: pointer;
        padding: 2.5rem 2rem;
        margin-top: 1.2rem;
        background-color: rgba($black, .05);
        transition: all .3s ease;
        @media (max-width: $r_mob_390) {
            font-size: 1rem;
            padding: 2rem;
        }
        &::after {
          content: "";
          display: inline-block;      
          height: 0.8rem;
          width: 1em;
          background-image: url(../images/arrow-feedback.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;      
          transition: transform .3s ease;
        }    
    }
    &-items {
        position: absolute; 
        width: 100%;
        padding:0;
        margin:0;
        transition: all .3s ease;    
        background-color: #f0f0f0;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        z-index: 99;  
        &_modal {
            background-color: #e6e6e6;
        }  
    }
    &__item {
        font-size: 1.2rem;
        color: rgba($black, .4);
        padding: .7rem 2rem;
        transition: all .3s ease;
        list-style-type: none;
        cursor: pointer;
        @media (max-width: $r_mob_390) {
            font-size: 1rem;
        }
        &:hover{
        color: $black;
        }         
    }
    &__close {
        position: fixed;    
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:9;
        transform: translate(100%,0);
        pointer-events:none;
        cursor: pointer;
    }
}

.footer {
    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        @media (max-width: $r_tab_768) {
            flex-direction: column-reverse;
            gap: 3rem;
        }
        &__nav {
            display: flex;
            gap: 2.5rem;
            list-style-type: none;
            padding-left: 0;
            @media (max-width: $r_mob_500) {
                gap: 2.3rem;
                margin: 0;
            }
            @media (max-width: $r_mob_430) {
                gap: 1.3rem;
            }
            @media (max-width: $r_mob_360) {
                gap: 1rem;
            }
        }
        &__link {
            color: $black;
            text-decoration: none;
            transition: .3s;
            @media (max-width: $r_mob_500) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_mob_390) {
                font-size: 1rem;
            }
            @media (max-width: $r_mob_340) {
                font-size: 0.8rem;
            }
            &:hover {
                color: $red;
            }
        }
        &__contact {
            &_modal {
                font-size: 1.4rem;
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        &__tel {
            color: $black;
            text-decoration: none;
            padding-right: 1rem;
            @media (max-width: $r_mob_390) {
                font-size: 1.4rem;
            }
            &:hover {
                color: $red;
            }
        }
        &__mail {
            color: $black;
            text-decoration: none;
            border-left: 1px solid rgba($black, .2);
            padding-left: 1rem;
            @media (max-width: $r_mob_390) {
                font-size: 1.4rem;
            }
            &:hover {
                color: $red;
            }
        }
    }
    &-copyright {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        color: rgba($black, .3);
        margin-top: 1.5rem;
        @media (max-width: $r_tab_768) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: $r_mob_500) {
            margin-top: 3rem;
        }
        @media (max-width: $r_mob_390) {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_360) {
            margin-top: 2rem;
        }
        @media (max-width: $r_mob_340) {
            font-size: 0.8rem;
        }
        &__left-text {
            @media (max-width: $r_mob_500) {
                margin-bottom: 0;
            }
        }
        &__right-text {
            margin: 3rem 0;
            @media (max-width: $r_mob_360) {
                margin: 2rem 0;
            }
        }
        &__link {
            color: rgba($black, .3);
            &:hover {
                color: $black;
            }
        }
    }
}


.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    @media (max-width: $r_tab_768) {
        top: 50%;
    }
    &-header {
        background-color: $grey;
        height: 100vh;
        max-width: 100%;
        top: 50%;
        z-index: 99;
        transition: 0.5s ease-out;
    }
    &-close {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    &-nav {
        list-style-type: none;
        padding-left: 0;
        margin: 4rem 0;
    }
    &-item {
        font-size: 2.6rem;    
        text-align: center;
        border-bottom: 1px solid rgba($black, .2);
        padding: 2rem 0;
        &_border-top {
            border-top: 1px solid rgba($black, .2);
        }
        &_link {
            color: $black;
            text-decoration: none;
            transition: .3s;
            &:hover {
                color: $red;
            }
        }
    }
    &-discuss {
        background-color: rgba($black, .7);
    }
    &-content {
        max-width: 600px;
        background-color: $grey;
        margin: 0 auto;
    }
    &-closebtn {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    &-section {
        border-bottom: 1px solid $black;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    &-title {
        margin: 0 0 1.5rem;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
            margin: 0 6rem 1.5rem 6rem;
        }
    }
    &-text {
        margin: 0 auto;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        max-width: 371px;
        @media (max-width: $r_mob_360) {
            font-size: 1.6rem;
        }
    }
    &-contact {
        padding-bottom: 40px;
    }
}

.closebtn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 20;
    transition: .3s all;
 }

.modal.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
}



  