@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black: #010101;
$grey: #F3F2F0;
$red: #D40000;
$white: #FFFFFF;

$font-inter: 'Inter', sans-serif;

html {
    font-size: 10px;
}

body {
    font-size: 2.8rem;
    font-family: $font-inter;
    color: $black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left:   15px;
    padding-right: 15px;
}

header {
    background-color: $grey;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding-top: 41px;
    padding-bottom: 60px;
    &__nav {
        display: flex;
        gap: 2.9rem;
        list-style-type: none;
        padding-left: 0;
    }
    a {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
        }
    }
    &__tel {
        padding-right: 1rem;
    }
    &__mail {
        border-left: 1px solid rgba($black, .2);
        padding-left: 1rem;
    }
}

.main {
    background-color: $grey;
    &__img {
        width: 100%;
        margin-bottom: 120px;
    }
    &__name {
        font-size: 2.8rem;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            width: 253px;
            height: 253px;
            display: block;
            background: $white;
            border-radius: 150px;
            position: absolute;
            top: -59px;
            left: -130px;
            z-index: -1;
        }
    }
    &__title {
        font-size: 7.4rem;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 37px;
        margin-bottom: 106px;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            border: 37px solid transparent;
            border-bottom: 75px solid $red;
            position: absolute;
            top: -130px;
            left: -152px;
        }
    }
    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-social {
        display: flex;
        gap: 3rem;
        margin-top: -13px;
    }
    &__link {
        font-size: 1.6rem;
        color: $black;
        text-decoration: none;
        border-left: 1px solid rgba($black, .2);
        padding-left: 2.5rem;
        transition: .3s;
        &_vk {
            border: none;
            position: relative;
            z-index: 0;
            &:after {
                content: "";
                width: 106px;
                height: 106px;
                background: #FFFFFF;
                border-radius: 150px;
                position: absolute;
                top: -43px;
                right: -211px;
                z-index: -1;
            }
        }
        &_inst {
            z-index: 0;
        }
        &_linkedin {
            z-index: 0;
        }
        &:hover {
            color: $red;
        }
        &_discuss {
            font-weight: 700;
            border-left: none;
            padding: 0;
            display: flex;
            gap: 2rem;
            align-items: center;
            border-bottom: 2px solid transparent;
            padding-bottom: 1rem;
            transition: .3s;
            &::after {
                content: '';
                display: block;
                background-image: url(../images/arrow.svg);
                width: 16px;
                height: 12px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover {
                color: $black;
                border-bottom: 2px solid $black;
            }
        }
    }
    &-skills {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $black;
        padding-top: 47px;
        padding-bottom: 180px;
        margin-top: 49px; 
        &__title {
            font-size: 1.6rem;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            &_advantage {
                letter-spacing: initial;
                text-transform: initial;
                margin-bottom: 2rem;
            }
        }
        &__text {
            max-width: 258px;
            font-size: 1.4rem;
            color: rgba($black, .8);
            line-height: 150%;
            margin-top: 2.1rem;
        }
    }
}

.about {
    background-color: $grey;
    padding-bottom: 180px;
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__title {
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__text {
        color: rgba($black, .8);
        max-width: 550px;
        line-height: 150%;
    }
    &__advantage {
        display: grid;
        grid-template-columns: 220px 270px;
        justify-content: end;
        grid-row-gap: 3.5rem;
        grid-column-gap: 7rem;
        border-top: 1px solid $black;
        padding-top: 60px;
    }
}

.steps {
    background-color: $grey;
    padding-bottom: 95px;
    &__step {
        border-top: 1px solid $black;
        padding: 39px 0;
        &_03 {
            border-bottom: 1px solid $black; 
        }
    }
    &__number {
        margin-right: 3rem;
    }
    &__text {
        margin: 0;
    }
    &__description {
        font-size: 1.6rem;
        color: rgba($black, .8);
        margin-left: 50.9rem;
        &_02 {
            margin-left: 49rem;
        }
        &_03 {
            margin-left: 45.2rem;
        }
    }
    &__portfolio-title {
        font-size: 74px;
        text-transform: uppercase;
        padding-top: 200px;
        padding-bottom: 110px;
        margin: 0;
        position: relative;
        z-index: 0;
        &:after {
            content: "";
            width: 465px;
            height: 465px;
            background: #FFFFFF;
            border-radius: 255px;
            position: absolute;
            top: 106px;
            left: 346px;
            z-index: -1;
        }
    }
}

.portfolio {
    &_01 {
        background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 200%);
    }
    &_02 {
        background-color: $grey;
    }
    &__site {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        border-bottom: 1px solid $black;
        padding-bottom: 60px;
    }
    &__name {
        margin-top: 4.2rem;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        font-size: 1.6rem;
        line-height: 207%;
        color: rgba($black, .8);
        margin: 41px 0;
    }
    &__text {
        font-weight: 700;
        font-size: 1.6rem;
        color: rgba($black, .8);
    }
}

.benefit {
    background-color: $grey;
    &__other {
        line-height: 150%;
        max-width: 900px;
        margin: 0;
        padding-top: 180px;
        padding-bottom: 80px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 4rem;
        grid-column-gap: 20rem;
        border-top: 1px solid $black;
        padding-top: 80px;
        padding-bottom: 180px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 4rem;
    }
    &__img {
        margin-top: 1.4rem;
    }
    &__content {
        max-width: 250px;
    }
    &__title {
        font-weight: 600;
        font-size: 1.6rem;  
        margin-bottom: 0; 
    }
    &__text {
        font-size: 1.4rem;
        line-height: 150%;
        color: rgba($black, .8);
        margin-top: 1rem;
    }
}

.tool {
    background-color: $grey;
    padding-bottom: 120px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 360px);
    }
    &__item {
        height: 146px;
        border: 1px solid rgba($black, .3);
    }
    &__image {
        display: block;
        margin: 32px auto;
        filter: grayscale(1);
        opacity: 0.3;
        transition: .3s;
        &_php {
            margin: 44px auto;
        }
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}

.rate {
    background-color: $grey;
    padding-bottom: 140px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__grid-item {
        border-bottom: 1px solid $black;
        padding-top: 60px;
        padding-bottom: 76px;
        &_none {
            border: none;
        }
    }
    &__title {
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 3.1rem;
        position: relative;
        z-index: 0;
        &::before {
            content: "";
            width: 140px;
            height: 140px;
            background: #FFFFFF;
            border-radius: 150px;
            position: absolute;
            top: -55px;
            left: -68px;
            z-index: -1;
        }
    }
    &__text {
        line-height: 150%;
        color: rgba($black, .8);
        max-width: 555px;
        margin-left: 15.7rem;
    }
    &__name {
        line-height: 150%;
        max-width: 200px;
        margin-bottom: 22px;
    }
    &__description {
        font-weight: 500;
        font-size: 16px;
        color: rgba($black, .8);
        margin-bottom: 81px;
    }
    &__link {
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        color: $black;
        display: flex;
        gap: 1rem;
        align-items: center;
        max-width: 170px;
        border-bottom: 1.5px solid transparent;
        padding-bottom: 1rem;
        transition: .3s;
        &::after {
            content: '';
            display: block;
            background-image: url(../images/arrow.svg);
            width: 15px;
            height: 11px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:hover {
            border-bottom: 1.5px solid $black;
        }
    }
    &__include {
        margin-left: 15.3rem;
    }
    &__in {
        font-weight: 700;
        font-size: 16px;
    }
    &__list {
        font-size: 16px;
        line-height: 200%;
        color: rgba($black, .8);
        padding-left: 20px;
    }
    &__price {
        font-weight: 700;
        font-size: 42px;    
        &_circle {
            position: relative;
            z-index: 0;
            &::before {
                content: '';
                width: 90px;
                height: 90px;
                display: block;
                background: $white;
                border-radius: 150px;
                position: absolute;
                top: -21px;
                left: -46px;
                z-index: -1;
            }
        }
    }
}

.feedback {
    background-color: $grey;
    padding-bottom: 61px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 1px solid $black;
        padding-bottom: 130px;
    }
    &__title {
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        max-width: 300px;
        margin: 0;
        position: relative;
        z-index: 0;
        &:before {
            content: '';
            width:300px;
            height: 300px;
            display: block;
            background: $white;
            border-radius: 150px;
            position: absolute;
            top: -29px;
            left: -153px;
            z-index: -1;
        }
        &:after {
            content: '';
            border: 33px solid transparent;
            border-bottom: 75px solid $red;
            position: absolute;
            top: -13px;
            left: -177px;
        }
    }
    &__content {
        border-bottom: 1px solid $black;
        padding-bottom: 155px;
    }
    &__text {
        line-height: 150%;
        border-bottom: 1px solid $black;
        padding-bottom: 70px;
    }
    &__description {
        max-width: 500px;
        margin-top: 0;
        margin-left: 22rem;
    }
    &__social {
        display: flex;
        gap: 3rem;
        align-items: flex-end;
    }
    &__contact {
        padding-top: 60px;
        margin-left: 22rem;
    }
    &__label {
        display: block;
        font-size: 12px;
        color: rgba($black, .8);
    }
    &__input {
        display: block;
        font-size: 12px;
        color: rgba($black, .2);
        border: none;
        background-color: rgba($black, .05);
        padding: 24px 347px 24px 20px;
        margin-top: 12px;
        margin-bottom: 0.7rem;
        &:focus {
            outline: none;
            color: $black;
        }
    }
    &__button {
        font-weight: 700;
        font-size: 16px;
        color: $white;
        border: none;
        background-color: $red;
        padding: 23px 235.5px;
        margin-top: 34px;
        &:hover {
            background-color: #EA0E00;
            cursor: pointer;
        }
    }
}

footer {
    background-color: $grey;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: rgba($black, .3);
    &__link {
        color: rgba($black, .3);
        &:hover {
            color: $black;
        }
    }
}


//----------------------------
//-------  Dropdown ----------
//----------------------------
.drop{
    display:inline-block;
    position: relative;
    text-align: center;
    
    input[type="checkbox"]{
      display:none;
      &:checked{
        ~.drop-items{
          opacity:1;
          max-height: 400px;
          padding: .6rem 0;
        }
        ~.control{       
          z-index:99;
          &:after{transform: rotate(180deg);}
        }
        ~.overlay-close{
          transform: none;
          pointer-events:initial;
        }
      }
    }
    
    .control{
      position:relative;
      display:inline-block;
      font-size: 12px;
      cursor: pointer;
      padding: 24px 18px 24px 20px;
      margin-top: 12px;
      background: rgba($black, .05);  
      transition: all .3s ease;
      &:after{
        content:"";
        display:inline-block;      
        height: 0.8rem;
        width: 1em;
        margin-left: 38em;
        background-image: url(../images/arrow-feedback.svg);
        background-repeat:no-repeat;
        background-position: center;
        background-size: contain;      
        transition: transform .3s ease;
      }
    }
    
    .drop-items{
      position: absolute;    
      width: 100%;
      padding:0;
      margin:0;
      transition: all .3s ease;    
      background: rgba($black, .05);
      overflow:hidden;
      max-height:0;
      opacity:0;
      z-index:99;
      
      .item-drop {
        list-style:none;
        a {        
          display:block;
          font-size: 12px;
          color: rgba($black, .4);
          text-decoration: none;
          text-align: start;
          padding: 7px 20px;
          transition: all .3s ease;
          &:hover{
            color: $black;
          }          
        }
       }
      }
    }
    
    .overlay-close{
      position: fixed;    
      top:0;
      left:0;
      bottom:0;
      right:0;
      z-index:9;
      transform: translate(100%,0);
      pointer-events:none;
    }